@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=VT323&display=swap");

@media screen and (min-width: 344px) {
  .Portfolio {
    display: flex;
    flex-direction: column;
    font-family: "Dancing Script", cursive;
    height: 75vh;
    padding: 80px;
    text-align: center;
    background: #d4bac6;
    color: rgb(234, 101, 181);
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(234, 101, 181);
  }

  .proj-desc {
    font-family: "VT323", monospace;
  }
}

@media screen and (min-width: 376px) {
  .Portfolio {
    color: white;
  }

  a {
    color: white;
  }
}

@media screen and (min-width: 798px) {
  /* .Portfolio {
    color: yellow;
  } */
}

@media screen and (min-width: 987px) {
  /* .Portfolio {
    color: rgb(240, 77, 104);
  } */

  .Portfolio {
    padding: 150px;
  }

  .project-title {
    font-size: 52px;
  }

  .proj-desc {
    font-size: 28px;
  }
}

@media screen and (min-width: 1278px) {
  /* .Portfolio {
    color: green;
  } */
}
