@media screen and (min-width: 344px) {
  .Portfolio {
    display: flex;
    flex-direction: column;
    font-family: "Dancing Script", cursive;
    margin: 50px;
    padding: 50px;
    text-align: center;
    color: rgb(234, 101, 181);
  }
}

@media screen and (min-width: 376px) {
  .Portfolio {
    color: white;
  }
}

@media screen and (min-width: 798px) {
  .Portfolio {
    color: yellow;
  }
}

@media screen and (min-width: 987px) {
  .Portfolio {
    color: rgb(240, 77, 104);
  }
}

@media screen and (min-width: 1278px) {
  .Portfolio {
    color: green;
  }
}
