@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=VT323&display=swap");

* {
  /* background: #d4bac6; */
  /* color: rgb(234, 101, 181); */
}

@media screen and (min-width: 344px) {
  .Home {
    display: flex;
    flex-direction: column;
    font-family: "VT323", monospace;
    margin: 50px;
    padding: 50px;
    height: 60vh;
    text-align: center;
    color: #fcdbf2;
    cursor: pointer;
  }

  .home-desc {
    font-family: "VT323", monospace;
  }

  /* .home-desc {
    -webkit-animation: change 5s infinite;
  }

  @keyframes change {
    0% {
      color: rgb(231, 136, 231);
    }
    50% {
      color: rgb(213, 169, 210);
    }
    100% {
      color: rgb(154, 158, 236);
    }
  } */
}

@media screen and (min-width: 376px) {
  .Home {
    color: #fcdbf2;
    background-color: white;
  }
}

@media screen and (min-width: 798px) {
  /* .Home {
    color: yellow;
  } */
}

@media screen and (min-width: 987px) {
  /* .Home {
    color: rgb(240, 77, 104);
  } */

  .Home {
    padding: 150px;
  }

  .home-title {
    font-size: 52px;
  }

  .home-desc {
    font-size: 28px;
  }
}

@media screen and (min-width: 1278px) {
  /* .Home {
    color: green;
  } */
}
