@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  /* background: #d4bac6; */
  /* color: rgb(234, 101, 181); */
}

@media screen and (min-width: 344px) {
  .Home {
    display: flex;
    flex-direction: column;
    font-family: "Dancing Script", cursive;
    margin: 50px;
    padding: 50px;
    height: 75vh;
    text-align: center;
    color: rgb(234, 101, 181);
    cursor: pointer;
  }
}

@media screen and (min-width: 376px) {
  .Home {
    color: #d4bac6;
    background-color: white;
  }
}

@media screen and (min-width: 798px) {
  /* .Home {
    color: yellow;
  } */
}

@media screen and (min-width: 987px) {
  /* .Home {
    color: rgb(240, 77, 104);
  } */
}

@media screen and (min-width: 1278px) {
  /* .Home {
    color: green;
  } */
}
