@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=VT323&display=swap");

@media screen and (min-width: 344px) {
  .languages {
    display: flex;
    flex-direction: column;
    font-family: "Dancing Script", cursive;
    margin: 50px;
    padding: 50px;
    height: 75vh;
    text-align: center;
    color: rgb(234, 101, 181);
    cursor: pointer;
  }

  .lang {
    font-family: "VT323", monospace;
  }
}

@media screen and (min-width: 376px) {
  .languages {
    color: #d4bac6;
  }
}

@media screen and (min-width: 798px) {
  /* .languages {
    color: yellow;
  } */
}

@media screen and (min-width: 987px) {
  /* .languages {
    color: rgb(240, 77, 104);
  } */

  .languages {
    padding: 150px;
  }

  .lang-title {
    font-size: 52px;
  }

  .lang {
    font-size: 28px;
  }
}

@media screen and (min-width: 1278px) {
  /* .languages {
    color: green;
  } */
}
